Body{
    background: #E6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    background: #FFFFFF; 
    display: flex;
    flex-direction: row-reverse;
}
/* Main content */
.main-content{
    padding: 88px 80px 40px 80px;
    box-sizing: border-box;
}

/* Sidebar */

.sidebar{
    background: #E0EBFE;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}
.sidebar-content{
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}
.contacts-title{
    color: #161D2A;
    font-size: 22px;
    font-weight: 700px;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}
.contacts-type{
    color: #161D2A;
    font-size: 14px;
    font-weight: 700px;
    line-height: 24px;
    margin-right: 8px;
}
.contacts-link{
    color: #2979ff;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    margin-right: 8px;
}
.contacts-item{
    margin-top: 0;
    margin-bottom: 8px;
}
.contents-container{
    margin-bottom: 40px;
}
/* Skills conteiner snd soft*/
.skills-conteiner{
    margin-bottom: 40px;
}
.skills-title{
    color: #161D2A;
    font-size: 22px;
    font-weight: 700px;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}
.skills-list{
    padding-left: 16px;
}
.skills-list-item{
    color: #161D2A;
    font-size: 14px;
    font-weight: 700px;
    line-height: 24px;
}